[submodule "Deps/Externals/nri"]
	path = Deps/Externals/nri
	url = https://github.com/01Pollux/NRI.git
[submodule "Deps/Externals/imgui"]
	path = Deps/Externals/imgui
	url = https://github.com/01Pollux/imgui.git
	branch = docking
[submodule "Deps/Externals/glfw"]
	path = Deps/Externals/glfw
	url = https://github.com/01Pollux/glfw.git
